<footer>
	<div class="container">
		<div class="content row">
			<div class="col-md-3 box">
				<h2>Օգնություն</h2>
				<a href="{% url 'info' %}?op=6">Կայքի պատասխանատվությունը</a>
				<a href="{% url 'info' %}?op=2">Առաքման կարգ</a>
				<a href="{% url 'info' %}?op=3">Վճարման կարգ</a>
				<a href="{% url 'info' %}?op=4">Պատվերներ</a>
				<a href="{% url 'info' %}">Այլ․․․</a>
			</div>
			<div class="col-md-3 box">
				<h2>Կապ</h2>
				<span><i class="fi fi-rr-marker"></i> Վարդանանց 24</span>
				<span><i class="fi fi-rr-phone-call"></i> +347(94)913-633</span>
				<span><i class="fi fi-rr-at"></i> Example@gmail.com</span>
				<div class="soc mt-2">
					<a href=""><i class="fi fi-brands-facebook"></i></a>
					<a href=""><i class="fi fi-brands-instagram"></i></a>
				</div>
			</div>
			<div class="col-md-6" id="for-map">
			</div>
		</div>
	</div>
	<div class="rights">
		<div class="container">
			<i class="fi fi-rr-copyright"></i> 2022 <span class="color-orange">My</span>F<span class="color-green">oo</span>d. Բոլոր իրավունքները պաշտպանված են
		</div>
</footer>