{% extends 'layouts/base.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'auth/auth.css' %}">
{% endblock %}


{% block content %}
	<section class="content bg-wheat">
		<div class="container">
			<form class="login shadow-sm" method="POST" action="{% url 'account_login' %}">
				{% csrf_token %}
				<div class="title">
					<h2 class="text-center">Մուտք</h2>
				</div>
	           	{% for error in form.non_field_errors %} 
	              	<div class="alert alert-danger" role="alert">
						{{error}}
					</div>
	           	{% endfor %}
				<div class="mb-3">
				  	<label for="email" class="form-label">Էլ․հասցե</label>
				  	<input type="email" class="form-control" id="email" name="login" placeholder="name@example.com" required>
				  	{% for error in form.login.errors %} 
		              	<div class="alert alert-danger mt-2" role="alert">
							{{error}}
						</div>
		           	{% endfor %}
				</div>
				<div class="mb-3">
				  	<label for="password" class="form-label">Գաղտնաբառ</label>
				  	<input type="password" name="password" class="form-control" id="password" required>
				  	{% for error in form.password.errors %} 
		              	<div class="alert alert-danger mt-2" role="alert">
							{{error}}
						</div>
		           	{% endfor %}
				</div>
				<input type="hidden" name="next" value="{% url 'profile' %}" />
				<a href="{% url 'account_reset_password' %}">Մոռացե՞լ եք գաղտնաբառը</a><br>
				<a href="{% url 'account_signup' %}">Գրանցում</a>
				<button type="submit" class="login-btn">Մուտք</button>
			</form>
		</div>
	</section>
{% endblock %}