{% extends 'layouts/base.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'auth/auth.css' %}">
{% endblock %}


{% block content %}
	<section class="content bg-wheat">
		<div class="container">
			<form class="login shadow-sm" method="POST" action="{{ action_url }}">
				{% csrf_token %}
				<div class="title">
					<h2 class="text-center">Գաղտնաբառի վերականգնում</h2>
				</div>
				{% for error in form.non_field_errors %} 
	              	<div class="alert alert-danger" role="alert">
						{{error}}
					</div>
	           	{% endfor %}
				<div class="mb-3">
				  	<label for="password1" class="form-label">Գաղտնաբառ</label>
				  	<input type="password" name="password1" class="form-control" id="password1">
				  	{% for error in form.password1.errors %} 
		              	<div class="alert alert-danger mt-2" role="alert">
							{{error}}
						</div>
		           	{% endfor %}
				</div>
				<div class="mb-3">
				  	<label for="password2" class="form-label">Գաղտնաբառ(կրկին)</label>
				  	<input type="password" name="password2" class="form-control" id="password2">
				  	{% for error in form.password2.errors %} 
		              	<div class="alert alert-danger mt-2" role="alert">
							{{error}}
						</div>
		           	{% endfor %}
				</div>
				<a href="{% url 'account_login' %}" class="back">Հետ</a>
				<button type="submit" class="login-btn">Վերականգնել</button>
			</form>
		</div>
	</section>
{% endblock %}