{% extends 'layouts/base.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'auth/auth.css' %}">
{% endblock %}


{% block content %}
	<section class="content bg-wheat">
		<div class="container">
			<form class="login shadow-sm">
				{% csrf_token %}
				<div class="title">
					<h2 class="text-center">Գաղտնաբառի վերականգնում</h2>
				</div>
				<div class="mb-3 mt-5 text-center">
				  Մենք ձեր էլ․հասցեին նամակ ենք ուղարկել: Եթե դուք չեք ստացել այն, խնդրում ենք ստուգել ձեր սպամի էջը: Հակառակ դեպքում կապվեք մեզ հետ, եթե այն չստանաք մի քանի րոպեից:
				</div>
				<div class="mt-4">
					<a href="{% url 'account_login' %}" class="back">Հետ</a>
				</div>
			</form>
		</div>
	</section>
{% endblock %}