{% extends 'layouts/base.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'shop/css/saves.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'shop/css/card.css' %}">
{% endblock %}


{% block content %}
	<section class="content bg-wheat">
		<div class="container">
			<div class="title shadow-sm">
				<span>Նախընտրածների ցուցակ</span>
			</div>
			<div class="cards">
                {% for product in object_list %}
				<div class="card shadow-sm">
                    <input class="max-count" id="{{product.id}}" value="{{product.balance}}" hidden>
                    <img src="{{product.get_img_url}}">
                    <button class="save SAVED" id="{{product.barcode}}"><i class="fi fi-rr-heart"></i></button>
                    <span class="title mt-1">{{product.item_name}}</span>
                    <span class="price">{{product.price}} դր</span>
                    <div class="price">
                        <div class="count">
                            <button class="math"><i class="fi fi-rr-minus-small"></i></button>
                            <input 
                                type="text" 
                                oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1').replace(/^0[^.]/, '0');" 
                                class="count-input"
                                id="c{{product.id}}" 
                                value="1" />
                            <button class="math" id="{{product.id}}"><i class="fi fi-rr-plus-small"></i></button>
                        </div>
                        <button class="buy-btn" id="{{product.id}}" value="{{product.barcode}}"><i class="fi fi-rr-shopping-cart-add"></i></button>
                    </div>
                </div>
                {% endfor %}
			</div>
		</div>
        <!-- START PAGINATION -->
                <nav style="background: var(--wheat) !important; box-shadow: none; padding: 30px 0 0 0;">
                  <ul class="pagination" style="justify-content: center;">
                    <li class="page-item">
                    {% if page_obj.number > 2 %}
                        <a class="page-link" style="color: black;" id="1"><i class="fi fi-rr-angle-double-small-left"></i></a>
                    {% else %}
                        <a class="page-link disabled"><i class="fi fi-rr-angle-double-small-left"></i></a>
                    {% endif %}
                    </li>
                    <li class="page-item">
                        {% if page_obj.has_previous %}
                            <a class="page-link" style="color: black;" id="{{page_obj.number|add:'-1'}}">{{page_obj.number|add:'-1'}}</a>
                        {% endif %}
                    </li>
                    <li class="page-item active">
                      <span class="page-link" style="background: var(--green); border: var(--green);">
                        {{page_obj.number}}
                      </span>
                    </li>
                    <li class="page-item">
                        {% if page_obj.has_next %}
                            <a class="page-link" style="color: black;" id="{{page_obj.number|add:'1'}}">{{page_obj.number|add:'1'}}</a>
                        {% endif %}
                    </li>
                    <li class="page-item">
                        {% if page_obj.number|add:'2' <= page_obj.paginator.num_pages %}
                            <a class="page-link" style="color: black;" id="{{page_obj.paginator.num_pages}}"><i class="fi fi-rr-angle-double-small-right"></i></a>
                        {% else %}
                            <a class="page-link disabled"><i class="fi fi-rr-angle-double-small-right"></i></a>
                        {% endif %}
                    </li>
                  </ul>
                </nav>
                <!-- END PAGINATION -->
	</section>
{% endblock %}


{% block js %}
<script>
    var csrftoken = '{{ csrf_token }}';
</script>

<script type="text/javascript" src="{% static 'shop/js/card.js' %}"></script>
<script type="text/javascript" src="{% static 'shop/js/products.js' %}"></script>
<script type="text/javascript" src="{% static 'shop/js/pagination.js' %}"></script>
{% endblock %}